name: Ruff

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: |
          uv sync

      - name: Run Ruff Check
        run: uv run ruff check --line-length=127

      - name: Run Ruff Format Check
        run: uv run ruff format --check --diff --line-length=127

      - name: Run Ty Type Check
        run: uv run ty check .
